.containerHome {
  height: 100vh;
  overflow: auto;
}
.containerHome::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: 20px;
}
.containerHome::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.containerHome::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
